<%= content_for :page_title, 'About' %>
<%= content_for :page_id, 'about' %>
<div class="introduction">
	<h1>About me</h1>
</div>
<div class="content">
	<div id="about-left">
		<div class="about-pic">
		</div>
		<h2>Myself</h2>
		<p> 
			I live in the bay area and the internet, places I have called home for 10 years. I enjoy making the world around me a better place.
		</p>
	</div>	
	<div id="about-center">
		<div class="about-pic">
		</div>
		<h2>Developer</h2>
		<p> 
			I'm a <a href="http://rubyonrails.org/" class="about-link">ruby on rails</a> developer. I love learning new practices, languages, and frameworks. I'm currently improving my ruby and javascript skills.
		</p>
	</div>
	<div id="about-right">
		<div class="about-pic">
		</div>
		<h2>Designer</h2>
		<p> 
			I design always with the user in mind. I apply my <a href="https://www.google.com/search?q=human-centered+design" class="about-link">human-centered design</a> skills to create apps that are both usable and useful.
		</p>
	</div>
</div>
		
	