<% if @current_user %>
	<%= render 'shared/admin_header' %>
<% end %>

<%= render 'shared/header' %>

<div class="introduction">
	<h1>Hi! I'm Jeremy</h1>
</div>
<div class="content">
	<div id="about-left">
		<div class="about-pic">
		</div>
		<h2>Myself</h2>
		<p> 
			I love the internet, and I want to make it even better, so I make useful websites that are easy to use and frustration-free. I use my experience in neuroscience and education by implementing the methods of human-centered design to create the best experience. 
		</p>
	</div>	
	<div id="about-center">
		<div class="about-pic">
		</div>
		<h2>Developer</h2>
		<p> 
			I have experience using python, java, javascript, ruby, html, and css. I construct the majority of my websites using rails and behavior driven testing using rspec. I am interested in all of the components invovled in a website, including front-end, back-end, security, performance, and testing.
		</p>
	</div>
	<div id="about-right">
		<div class="about-pic">
		</div>
		<h2>Designer</h2>
		<p> 
			I design always with the user in mind. I make my apps intuitive to use, using already existing practices and proper information organization.
		</p>
	</div>
</div>
		
	