<div class="introduction" >
	<h1>Contact me</h1>
</div>
<div class="content" id="contact">
	<h2>Email</h2>
		<p>axelrod DOT jeremy AT gmail DOT com</p>
	<h2>Others</h2>
		<ul>
			<li><%= link_to 'github', 'http://www.github.com/jeaxelrod' %></li>
			<li><%= link_to 'linkedin', 'http://www.linkedin.com/in/jeaxelrod' %></li>
</div>