<% if @current_user %>
	<%= render 'shared/admin_header' %>
<% end %>

<%= render 'shared/header' %>

<div class="introduction">
	<h1>Web Developer</h1>
	<div class="description">
		<p>I build web applications for a more usable and beautiful internet.</p>
	</div>
</div>

<div class="content">
	<h2>Projects</h2>
	<div class="proj-1">
		<img src="http://placekitten.com/400/400" />
		<div class="description" >
			<p>A tool to document every aspect of the job search so that the user can easily keep track of all the various resources needed for the job search. Constructed and designed by Jeremy.</p>
			<a href="#" id="folio-process">The process</a>
		</div>
	</div>
	<div class="proj-2">
		<img src="http://placekitten.com/350/350" />
		<div class="description" >
			<p>Design isn&#39t just how it looks and works, it&#39s also how it makes you feel. All possible interactions with any part of a brand must be delicately orchestrated to provide one whole experience. This is what I do, everything from user experience planning to front-end coding. Peedu Tuisk, aka matude</p>	
		</div>
	</div>
</div>
