<%= content_for :page_id, 'home' %>
<div class="introduction">
	<h1>I build web applications using Rails for a more <span id="useable">u<span id="s">s</span>able</span> and <span id="beautiful"> beautiful </span> internet.</h1>
	<div class="description">
		<p>Jeremy Axelrod</p>
	</div>
</div>

<div class="content">
  <%= render 'shared/projects'%>
</div>
