<%= content_for :page_id, 'home' %>
<div class="introduction">
	<h1>I build web applications using Rails for a more usable and beautiful internet.</h1>
</div>

<div class="content">
  <%= render 'shared/projects'%>
</div>
