<div class="introduction">
	<h1>Jeremy Axelrod</h1>
	<div class="description">
		<p>I build web applications using Rails for a more usable and beautiful internet.</p>
	</div>
</div>

<div class="content">
  <%= render 'shared/projects'%>
</div>
