/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* mixins, variables, etc. */
/* Universal */
body {
  background-color: white;
  color: gray;
  margin: 0; }

/* Typography */
body {
  font-family: Segoe UI; }

/* Mobile styles */
/* Larger mobile styles (wider than 320 pixels) */
/* Tablet styles (wider than 600 pixels) */
/* Large laptop styles (wider than 1024 pixels) */
@media only screen and (min-width: 1024px) {
  /* header */
  #logo {
    width: 140px;
    height: 140px;
    background-image: url("http://placekitten.com/140/140");
    margin: 25px 0 25px 15%;
    float: left;
    border-radius: 999px; }
    #logo a {
      width: 140px;
      height: 140px;
      display: block; }

  header#header {
    display: block;
    width: 100%;
    overflow: hidden;
    border: none; }
    header#header #navagation {
      float: right;
      display: block;
      margin: 75px 200px 75px 0px;
      padding: 0px 0px 10px 300px;
      width: auto; }
      header#header #navagation a {
        padding: 0px 5px 5px 5px;
        text-decoration: none;
        color: gray;
        font-size: 18px; }
      header#header #navagation a:hover {
        text-decoration: underline; }
      header#header #navagation #blog {
        padding-left: 5px; }

  header#admin {
    margin-left: 200px;
    margin-right: 200px; }
    header#admin nav {
      margin-left: auto;
      margin-right: auto;
      width: 300px; }
      header#admin nav a {
        padding: 0 5px 0 5px; }

  /* Flash Messages */
  .notice {
    text-align: center; }

  /* Title */
  .introduction {
    margin: 5px 200px 100px 200px; }
    .introduction h1 {
      font-size: 50px;
      text-align: center; }
    .introduction .description {
      margin: 0px 100px 20px 100px;
      font-size: 20px; }
      .introduction .description p {
        text-align: center; }

  /* Content */
  .content {
    margin: 50px 200px 5px 200px; }
    .content h2 {
      font-size: 30px; }

  [class^="proj-"] {
    margin: 50px 0 75px 0;
    overflow: hidden; }
    [class^="proj-"] img {
      postion: relative;
      float: left;
      width: 35%; }
    [class^="proj-"] .description {
      margin: 90px 17.5% 90px 45.5%;
      position: relative;
      width: 50%; }
    [class^="proj-"] .admin-links p:first-child {
      margin-top: 16px; }
    [class^="proj-"] .admin-links p {
      margin: 0; }

  .about-pic {
    width: 250px;
    height: 250px;
    border-radius: 999px; }

  #about-left {
    float: left;
    display: inline-block;
    width: 250px; }
    #about-left .about-pic {
      background-image: url("/pictures/about_pic"); }

  #about-center {
    width: 250px;
    clear: left;
    margin-left: 90px;
    margin-right: 50px;
    display: inline-block; }
    #about-center .about-pic {
      background-image: url("http://placekitten.com/350/350"); }

  #about-right {
    float: right;
    width: 250px;
    display: inline-block; }
    #about-right .about-pic {
      background-image: url("http://placekitten.com/300/300"); }

  #blog h2 {
    margin-bottom: 0; }

  .blog-date {
    margin-top: 0;
    margin-bottom: 30px; }

  #contact {
    margin-left: 531px;
    margin-right: 531px; }
    #contact .introduction {
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0; }
      #contact .introduction h1 {
        margin: 33px 0 0 0; }
    #contact #email {
      margin-left: 12px;
      margin-right: 10px; }
      #contact #email form {
        margin-left: auto;
        margin-right: auto; }
        #contact #email form input {
          width: 100%;
          display: block;
          padding: 1px 0 1px 0; }
        #contact #email form .field_with_errors {
          color: red; }
          #contact #email form .field_with_errors textarea, #contact #email form .field_with_errors input {
            border: 1px solid red;
            padding-right: 1px;
            padding-left: 1px; }
        #contact #email form textarea {
          width: 100%;
          resize: vertical;
          min-height: 5em;
          overflow: visible;
          margin-bottom: 18px;
          padding: 0; }

  footer {
    border-top: 1px solid lightgray;
    margin-top: 100px; }
    footer #footer-left {
      float: left;
      margin-left: 75px;
      height: 100px;
      line-height: 100px; }
    footer #footer-right {
      float: right;
      height: 100px;
      margin-right: 75px; }
      footer #footer-right p {
        margin: 0; }
        footer #footer-right p a {
          color: gray; }
      footer #footer-right :first-child {
        margin-top: 26px; }

  #new-blog .text-field {
    margin: 0 600px 0 0; }
  #new-blog input {
    width: 400px;
    font-family: Segoe UI;
    font-size: 18px; }
  #new-blog textarea {
    width: 100%;
    height: 17em;
    font-family: Segoe UI;
    font-size: 18px;
    resize: vertical; }
  #new-blog .submit {
    margin-top: 20px;
    width: 100%; } }
/* Desktop styles (wider than 1140 pixels */
