<footer>
	<div id="footer-left">
		<p>&copy;2014 Jeremy Axelrod</p>
	</div>
	<div id="footer-right">
	  <p><%= link_to 'source', 'http://www.github.com/jeaxelrod/personal-site' %></p>
	</div>
</footer>