<footer>
	<div id="footer-left">&copy;2014 Jeremy Axelrod</div>
	<div id="footer-right">
		<p><%= link_to 'github.com/jeaxelrod', 'http://www.github.com/jeaxelrod' %></p>
		<p><%= link_to 'linkedin.com/in/jeaxelrod', 'http://www.linkedin.com/in/jeaxelrod' %></p>
	</div>
</footer>