<footer>
	<div id="footer-left">
		<p>&copy;2014 Jeremy Axelrod</p>
		<p><%= link_to 'page source', 'http://www.github.com/jeaxelrod/personal-site' %></p>
	</div>
	<div id="footer-right">
		<p><%= link_to 'github.com/jeaxelrod', 'http://www.github.com/jeaxelrod' %></p>
		<p><%= link_to 'linkedin.com/in/jeaxelrod', 'http://www.linkedin.com/in/jeaxelrod' %></p>
	</div>
</footer>