/* mixins, variables, etc. */

/* Universal */ 

body {
	background-color:  rgb(237, 206, 96);
	color: #f1f1f1;
	margin: 0;
	font-size: 14px;
	font-family:'Arial';
} 

a {
  color: #f1f1f1;
}

/* Backgrounds 

.home {
	background: url('/images/background-mobile.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
}
.about {
  background: url('/images/about-background-mobile.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
}
.contact {
  background: url('/images/contact-background-mobile.png');
  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
}
.blog {
  background: url('/images/blog-background-mobile.png');
  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
}
*/
	/* header */
	
	#logo {
		width: 200px;
		height: 200px;
		background-color: rgb(245,227,165);
		margin: 10px 0 10px 5%;
		float: left;
		border-radius: 999px;
		a {
			width: 200px;
			height: 200px;
			display: block;
		}
	}
	
	
	header#header {
		display: block;
		width: 100%;
		overflow: hidden;

		#navagation {
			display: block;
			margin-top: 80px;
			margin-left: 300px;
			padding: 0;

			a:first-child {
			  display: none;
			}

			a {
			  padding: 0px 15px 0 30px;
			  font-size: 4em;
			}

			a:hover {
				text-decoration: underline;
			}
			
			#blog {
				padding-left: 5px;
			}
		}
	}
	
	header#admin {
		margin-left: 200px;
		margin-right: 200px;
		
		nav {
			margin-left: auto;
			margin-right: auto;
			width: 300px;
			
			a {
				padding: 0 5px 0 5px;
			}
		}
	}
	
	/* Flash Messages */
	
	.notice {
		text-align: center;
	}
	/* Title */
	
	.introduction {
		margin: 5px 50px 100px 50px;
		
		h1 {
			font-size: 6em;
			text-align: center;
		}
		
		.description {
			margin: 0px 50px 20px 50px;
			font-size: 2em;
			
			p {
				text-align: center;
			}
		}
	}
	
	/* Content */
	
	.content {
		margin: 50px 50px 5px 50px;
		
		h2 {
			font-size: 4em;
		}
		
		p {
			font-size: 1.75em;
		}		

	}
	
	[class^="proj-"] {
		margin: 50px 0 75px 0;
		overflow: hidden;
		
		img {
			float: left;
			width: 40%;
		}
		
		.description {
			margin: 0 0 0 50%;
			position: relative;
		
			
			p {
			  font-size: 2em;
				margin: 0 0 25px 0;
			}
			
			a {
			  font-size: 1.75em;
			}
		}
		.admin-links {
		
			p:first-child {
				margin-top: 16px;
			}
			p {
				font-size: 1em;
			}
		}
	}
	
	.about-pic {
		width: 27vw;
		height: 27vw;
		border-radius: 999px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: right top;
		float: left;
	}
	
	#about-left {
		display: block;
		height: 27vw;
		margin-bottom: 40px;
	
		h2 {
			text-align: center;
			margin-bottom: 24px;
			margin-top: 10px;
		}
			
		.about-pic {
				background-image: url('/images/pigeon-jeremy.jpg');
		}
		p {
		  padding-left: 300px;
		}
	}
		
	#about-center {
		display: inline-block;
		height: 27vw;
		margin-bottom: 40px;

		
		h2 {
			text-align: center;
			margin-bottom: 24px;
			margin-top: 10px;
		}
		
		p {
		  padding-left: 300px;
		}
			
		.about-pic {
			background-image: url('/images/developer.png');
		}
	}
	
	#about-right {
		display: inline-block;
		height: 27vw;
		margin-bottom: 20px;
		
		h2 {
			text-align: center;
			margin-bottom: 24px;
			margin-top: 10px;
		}
		
		p {
		  padding-left: 300px;
		}
		
		.about-pic {
			background-image: url('/images/designer.jpg');

		}
	}	
	a.about-link  {
			text-decoration: none;
			border-bottom: 1px dotted #f1f1f1;
		}
		
	[class^="blog-"] {

	  .blog-content {
	    margin:0;	
			
	    p {
	    	margin: 0;
	    	padding: 5px 0 5px 0;
	    }
	  }

      > a { /* Comment link */
        display: none;
				margin-top: 10px;
				font-size: 1.25em;
      }
			
			.tags p {
			  font-size: 1.25em;
			}
	}
	
	.pagination {
	  font-size: 1.25em;
	}

	#blog h2 {
		margin-bottom: 0;
	}

	.blog-date {
		margin-top: 0;
		margin-bottom: 30px;
	}
	
	#contact {
			
		margin-left: 27%;
		margin-right: 27%;
		
	
		.introduction {
			margin-bottom: 0;
			margin-left: 0;
			margin-right: 0;
			
			h1 {
				margin: 33px 0 0 0;
			}
		}
		#email {
			
			margin-left: 12px;
			margin-right: 10px;
			font-size: 1.5em;
			
			form {
				margin-left: auto;
				margin-right: auto;
				
				input {
					width: 100%;
					display: block;
					padding: 1px 0 1px 0;
					font-size: 1.3em;
				}
				
				.field_with_errors {
					color: red;
					
					textarea, input  {
					border: 1px solid red;
					padding-right: 1px;
					padding-left: 1px;
					}
				}
				
				textarea {
					width: 100%;
					resize: both;
					font-size: .75em;
					min-height: 10em;
					overflow: visible;
					margin-bottom: 18px;
					padding: 0;
				}
			}	
		}
	}
	
	footer { 

		margin-top: 80px;
	  opacity: .8;
		height: 30px;
		font-size: 1.25em;
		
		div {		
			margin-right: 50px;
			margin-left: 50px;
			width: 180px;
			
			p {
				margin: 0 0 10px 0;
			}
			
			:first-child {
				margin: 0 ;	
			}
		}
		
		#footer-left {
			float: left;
		}
		
		#footer-right {
			float: right;
			text-align: right;
		}
	}
	
	#new-blog {
		.text-field {
			margin: 0 600px 0 0;
		}
		
		input {
			width: 400px;
			font-family: Segoe UI;
			font-size: 18px;
		}
		
		textarea {
			width: 100%;
			height: 17em;
			font-family: Segoe UI;
			font-size: 18px;
			resize: vertical;
		}
		
		.submit {
			margin-top: 20px;
			width: 100%;
		}
	}


/* Mobile styles */

/* Larger mobile styles (wider than 320 pixels) */
@media only screen and (min-width: 321px) {

}

/* Tablet styles (wider than 600 pixels) */
/* @media only screen and (min-width:600px) {
} */

/* Large laptop styles (wider than 1024 pixels) */
@media only screen and (min-width: 1024px) {

/* Universal */ 
body {
	background-color: white;
	color: #f1f1f1;
	margin: 0;
	text-shadow: 1px 1px 1px #333333;
	font-size: 14px;
	font-family: 'josefin_sanssemibold', 'Arial';
} 

a {
	color: #f1f1f1;
	text-decoration: none;
}

a:hover {
	color: rgb(237, 206, 96);
	text-decoration: underline;
}

/* Backgrounds */
.home {
	background: url('/images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
}
.about {
  background: url('/images/about-background.jpg');
  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
}
.contact {
  background: url('/images/contact-background.jpg');
  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
}
.blog {
  background: url('/images/blog-background.jpg');
  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
}

	/* header */
	
	#logo {
		width: 140px;
		height: 140px;
		margin: 25px 0 25px 15%;
		background-color: rgb(237, 206, 96);
		opacity: 0.8;
		
		a {
			width: 140px;
			height: 140px;
			display: block;
		}
	}
	
	
	header#header {

		#navagation {
			float: right;
			margin: 75px 200px 75px 0px; 
			padding: 0px 0px 10px 300px;

			a:first-child {
			  display: inline;
			}
			a {
			  padding: 0px 5px 5px 5px;
			  font-size: 2em;
			}
		}
	}
	
	header#admin {
		margin-left: 200px;
		margin-right: 200px;
		
		nav {
			margin-left: auto;
			margin-right: auto;
			width: 300px;
			
			a {
				padding: 0 5px 0 5px;
			}
		}
	}
	
	/* Flash Messages */
	
	.notice {
		text-align: center;
	}
	/* Title */
	
	.introduction {
		margin: 5px 200px 100px 200px;
		
		.description {
			margin: 0px 100px 20px 100px;
			font-size: 2em;
			
			p {
				text-align: center;
			}
		}
	}
	
	.home .introduction h1{
	  font-family: 'Amatic';
	}
	
	/* Content */
	
	.content {
		margin: 50px 15% 5px 15%;
	}
	
	[class^="proj-"] {
		
		p {
	    text-shadow: 1px 1px 1px black;
		}
		
		a {
		  text-decoration: underline;
		}
	}
	
	
	.about-pic {
		width: 21vw;
		height: 21vw;
		border-radius: 999px;
		margin-left: auto;
		margin-right: auto;
	}
	
	#about-left {
		float:left;
		display: inline-block;
		width: 31%;
	  
		h2 {
			text-align: center;
		}
			
		.about-pic {
				background-image: url('/images/jeremy-outdoor.jpg');
		}
		
		p {
		  padding: 0;
		}
	}
		
	#about-center {
		width: 31%;
		clear: left;
		margin-left: 3.25%;
		margin-right: 3.25%;
		display: inline-block;
		
		 h2 {
			text-align: center;
		}
			
		.about-pic {
			background-image: url('/images/developer.png');
		}
		
		p {
		  padding: 0;
		}
	}
	
	#about-right {
		float: right;
		width: 31%;
		display: inline-block;
		
		h2 {
			text-align: center;
		}
		
		.about-pic {
			background-image: url('/images/designer.jpg');
		}
		
		p {
		  padding: 0;
		}
	}	

	[class^="blog-"] {

	  .blog-content {

			background-color: rgba(220, 220, 220, 0.7);
			text-shadow: none;
			color: rgba(50,50, 50, 1);
	    font-weight: 600;
	    display: inline-block;
	    margin:0;	
    }
		
		p {
		  padding: 5px 5px 5px 5px;
		}
		
		.tags {
		  font-size: 1.25em;
		}
	}

	#blog h2 {
		margin-bottom: 0;
	}

	.blog-date {
		margin-top: 0;
		margin-bottom: 30px;
	}
	
	#contact {			
		margin-left: 37%;
		margin-right: 37%;
	}
	
	.pagination {
	  font-size: 1.5em;
	}
	
	footer { 

		margin-top: 80px;
	  opacity: .8;
		height: 30px;
		font-size: 1.25em;
		
		div {
				
			margin-right: 75px;
			margin-left: 75px;
			width: 180px;
			font-size: 1.25em;
			p {
				margin: 0 0 10px 0;
				
				a {
				  color: white;
				}
			}
			:first-child {
				margin: 0 ;	
			}
		}
		
		#footer-left {
			float: left;
			width: 300px;
		}
		
		#footer-right {
			float: right;
			text-align: right;
		}
	}
	.about footer #footer-left, .contact footer #footer-left {
	  color: #141414;
	  text-shadow: 1px 1px 1px #C5C5C5;
	}
	
	#new-blog {
		.text-field {
			margin: 0 600px 0 0;
		}
		
		input {
			width: 400px;
			font-family: Segoe UI;
			font-size: 18px;
		}
		
		textarea {
			width: 100%;
			height: 17em;
			font-family: Segoe UI;
			font-size: 1em;
			resize: vertical;
		}
		
		.submit {
			margin-top: 20px;
			width: 100%;
		}
	}
}

/* Desktop styles (wider than 1140 pixels */
@media only screen and (min-width: 1140px) {
}