/* mixins, variables, etc. */

/* Universal */

body {
	background-color: white;
	color: #f1f1f1;

	margin: 0;

} 
.container {
	background: url('/images/background.png') top right no-repeat fixed;
	background-size: 100%;
}

/* Typography */ 
	
body {
	font-family: Segoe UI;
}

/* Mobile styles */

/* Larger mobile styles (wider than 320 pixels) */
@media only screen and (min-width: 321px) {
}

/* Tablet styles (wider than 600 pixels) */
@media only screen and (min-width:600px) {
}

/* Large laptop styles (wider than 1024 pixels) */
@media only screen and (min-width: 1024px) {

	/* header */
	
	#logo {
		width: 140px;
		height: 140px;
		background-image: url('http://placekitten.com/140/140');
		margin: 25px 0 25px 15%;
		float: left;
		border-radius: 999px;
		a {
			width: 140px;
			height: 140px;
			display: block;
		}
	}
	
	
	header#header {
		display: block;
		width: 100%;
		overflow: hidden;
		border: none;

		#navagation {
			float: right;
			display: block;
			margin: 75px 200px 75px 0px; 
			padding: 0px 0px 10px 300px;
			width: auto;
			color: white;
			
			a {
				padding: 0px 5px 5px 5px;
			text-decoration: none;
			color: white;
			font-size: 26px;
			}
			a:hover {
				text-decoration: underline;
			}
			
			#blog {
				padding-left: 5px;
			}
		}
	}
	
	header#admin {
		margin-left: 200px;
		margin-right: 200px;
		
		nav {
			margin-left: auto;
			margin-right: auto;
			width: 300px;
			
			a {
				padding: 0 5px 0 5px;
			}
		}
	}
	
	/* Flash Messages */
	
	.notice {
		text-align: center;
	}
	/* Title */
	
	.introduction {
		margin: 5px 200px 100px 200px;
		
		h1 {
			font-size: 50px;
			text-align: center;
		}
		
		.description {
			margin: 0px 100px 20px 100px;
			font-size: 20px;
			
			p {
				text-align: center;
			}
		}
	}
	
	/* Content */
	
	.content {
		margin: 50px 200px 5px 200px;
		
		h2 {
			font-size: 30px;
		}
	}
	
	[class^="proj-"] {
		margin: 50px 0 75px 0;
		overflow: hidden;
		
		img {
			postion: relative;
			float: left;
			width: 35%;
		}
		
		.description {
			margin: 90px 17.5% 90px 45.5%;
			position: relative;
			width: 50%;
		}
		.admin-links {
		
			p:first-child {
				margin-top: 16px;
			}
			p{
				margin: 0
			}
		}
	}
	
	.about-pic {
		width: 250px;
		height: 250px;
		border-radius: 999px;
	}
	
	#about-left {
		float:left;
		display: inline-block;
		width: 250px;
	
		h2 {
			text-align: center;
		}
			
		.about-pic {
			background-image: url('/images/about_pic.jpg');
		}
	}
	
	#about-center {
		width: 250px;
		clear: left;
		margin-left: 90px;
		margin-right: 50px;
		display: inline-block;
		
		 h2 {
			text-align: center;
		}
			
		.about-pic {
			background-image: url('/images/developer.png');
		}
	}
	
	#about-right {
		float: right;
		width: 250px;
		display: inline-block;
		
		h2 {
			text-align: center;
		}
		
		.about-pic {
			background-image: url('/images/designer.jpg');
		}
	}	
	#blog h2 {
		margin-bottom: 0;
	}
	.blog-date {
		margin-top: 0;
		margin-bottom: 30px;
	}
	
	#contact {
			
		margin-left: 531px;
		margin-right: 531px;
		
	
		.introduction {
			margin-bottom: 0;
			margin-left: 0;
			margin-right: 0;
			
			h1 {
				margin: 33px 0 0 0;
			}
		}
		#email {
			
			margin-left: 12px;
			margin-right: 10px;
			
			form {
				margin-left: auto;
				margin-right: auto;
				
				input {
					width: 100%;
					display: block;
					padding: 1px 0 1px 0;
				}
				
				.field_with_errors {
					color: red;
					
					textarea, input  {
					border: 1px solid red;
					padding-right: 1px;
					padding-left: 1px;
					}
				}
				
				textarea {
					width: 100%;
					resize: vertical;
					min-height: 5em;
					overflow: visible;
					margin-bottom: 18px;
					padding: 0;
				}
			}	
		}
	}
	
	footer { 

		margin-top: 100px;
	  opacity: .8;
		height: 100px;
		color: gray;
		background-color: white;
		
		div {
				
			height: 100px;
			margin-right: 75px;
			margin-left: 75px;
			width: 180px;
			p {
				margin: 0;
				
				a {
					color: gray;
				}
			}
			:first-child {
				margin-top: 26px ;	
			}
		}
		
		#footer-left {
			float: left;
		}
		
		#footer-right {
			float: right;
			text-align: right;
		}
		
	
		
	}
	
	#new-blog {
		.text-field {
			margin: 0 600px 0 0;
		}
		
		input {
			width: 400px;
			font-family: Segoe UI;
			font-size: 18px;
		}
		
		textarea {
			width: 100%;
			height: 17em;
			font-family: Segoe UI;
			font-size: 18px;
			resize: vertical;
		}
		
		.submit {
			margin-top: 20px;
			width: 100%;
		}
	}
}

/* Desktop styles (wider than 1140 pixels */
@media only screen and (min-width: 1140px) {
}