/* mixins, variables, etc. */

/* Universal */
body {
	background-color: white;
	color: #f1f1f1;
	margin: 0;
	text-shadow: 1px 1px 1px #333333;
	font-size: 12px;
	font-family: Segoe UI;
} 
a {
	color: #f1f1f1;
}
a:hover {
	color: rgb(237, 206, 96);
}

/* Backgrounds */

.home {
	background: url('/images/background-mobile.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
}
.about {
  background: url('/images/about-background-mobile.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
}
.contact {
  background: url('/images/contact-background-mobile.png');
  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
}
.blog {
  background: url('/images/blog-background-mobile.png');
  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
}
	
	/* header */
	
	#logo {
		width: 200px;
		height: 200px;
		background-color: rgb(237, 206, 96);
		margin: 10px 0 10px 5%;
		float: left;
		border-radius: 999px;
		opacity: 0.8;
		a {
			width: 200px;
			height: 200px;
			display: block;
		}
	}
	
	
	header#header {
		display: block;
		width: 100%;
		overflow: hidden;

		#navagation {
			display: block;
			margin-top: 80px;
			margin-left: 300px;
			padding: 0;
			color: white;

			a:first-child {
			  display: none;
			}

			a {
				padding: 0px 15px 0 30px;
			  text-decoration: none;
			  font-size: 4em;
			}

			a:hover {
				text-decoration: underline;
			}
			
			#blog {
				padding-left: 5px;
			}
		}
	}
	
	header#admin {
		margin-left: 200px;
		margin-right: 200px;
		
		nav {
			margin-left: auto;
			margin-right: auto;
			width: 300px;
			
			a {
				padding: 0 5px 0 5px;
			}
		}
	}
	
	/* Flash Messages */
	
	.notice {
		text-align: center;
	}
	/* Title */
	
	.introduction {
		margin: 5px 50px 100px 50px;
		
		h1 {
			font-size: 6em;
			text-align: center;
			font-family: 'Amatic';

	    #useable {
        font-family: 'Quicksand';
        letter-spacing: -6px;
        #s {
        	letter-spacing: -4px;
        }
	    }

	    #beautiful {
	    	font-family: 'Great Vibes';
	    }
		}
		
		.description {
			margin: 0px 50px 20px 50px;
			font-size: 2em;
			
			p {
				text-align: center;
			}
		}
	}
	
	/* Content */
	
	.content {
		margin: 50px 50px 5px 50px;
		
		h2 {
			font-size: 4em;
		}
		
		p {
			font-size: 1.75em;
		}		

	}
	
	[class^="proj-"] {
		margin: 50px 0 75px 0;
		overflow: hidden;
		
		img {
			float: left;
			width: 40%;
			opacity: 0.8;
		}
		
		.description {
			margin: 10% 0 0 50%;
			position: relative;
		
			
			p {
			  font-size: 2em;
			  text-shadow: 1px 1px 1px black;
			}
			
			a {
			  font-size: 1.75em;
			}
		}
		.admin-links {
		
			p:first-child {
				margin-top: 16px;
			}
			p {
				font-size: 1em;
			}
		}
	}
	
	.about-pic {
		width: 94%;
		height: 275px;
		border-radius: 999px;
		margin-left: 3%;
		margin-right: 3%;
	}
	
	#about-left {
		float:left;
		display: inline-block;
		width: 31%;
	
		h2 {
			text-align: center;
		}
			
		.about-pic {
				background: url('/images/pigeon-jeremy.jpg');
				
		}
	}
		
	#about-center {
		width: 31%;
		clear: left;
		margin-left: 3.25%;
		margin-right: 3.25%;
		display: inline-block;
		
		 h2 {
			text-align: center;
		}
			
		.about-pic {
			background-image: url('/images/developer.png');
		}
	}
	
	#about-right {
		float: right;
		width: 31%;
		display: inline-block;
		
		h2 {
			text-align: center;
		}
		
		.about-pic {
			background-image: url('/images/designer.jpg');
		}
	}	

	[class^="blog-"] {

	  .blog-content {

			background-color: rgba(220, 220, 220, 0.7);
			text-shadow: none;
			color: rgba(50,50, 50, 1);
	    font-weight: 600;
	    display: inline-block;
	    margin:0;	

	    p {
	    	margin: 0;
	    	padding: 5px 5px 5px 5px;
	    }
	  }

      > a {
        display: block;
      }
	}

	#blog h2 {
		margin-bottom: 0;
	}

	.blog-date {
		margin-top: 0;
		margin-bottom: 30px;
	}
	
	#contact {
			
		margin-left: 27%;
		margin-right: 27%;
		
	
		.introduction {
			margin-bottom: 0;
			margin-left: 0;
			margin-right: 0;
			
			h1 {
				margin: 33px 0 0 0;
			}
		}
		#email {
			
			margin-left: 12px;
			margin-right: 10px;
			font-size: 1.5em;
			
			form {
				margin-left: auto;
				margin-right: auto;
				
				input {
					width: 100%;
					display: block;
					padding: 1px 0 1px 0;
					font-size: 1.3em;
				}
				
				.field_with_errors {
					color: red;
					
					textarea, input  {
					border: 1px solid red;
					padding-right: 1px;
					padding-left: 1px;
					}
				}
				
				textarea {
					width: 100%;
					resize: vertical;
					font-size: 1.5em;
					min-height: 6em;
					overflow: visible;
					margin-bottom: 18px;
					padding: 0;
				}
			}	
		}
	}
	
	footer { 

		margin-top: 40px;
	  opacity: .8;
		height: 30px;
		font-size: 1.25em;
		
		div {
				
			margin-right: 75px;
			margin-left: 75px;
			width: 180px;
			p {
				margin: 0 0 10px 0;
				
				a {
				  color: white;
				}
			}
			:first-child {
				margin: 0 ;	
			}
		}
		
		#footer-left {
			float: left;
		}
		
		#footer-right {
			float: right;
			text-align: right;
		}
	}
	.contact footer #footer-left {
	  color: #141414;
	  text-shadow: 1px 1px 1px #C5C5C5;
	}
	
	#new-blog {
		.text-field {
			margin: 0 600px 0 0;
		}
		
		input {
			width: 400px;
			font-family: Segoe UI;
			font-size: 18px;
		}
		
		textarea {
			width: 100%;
			height: 17em;
			font-family: Segoe UI;
			font-size: 18px;
			resize: vertical;
		}
		
		.submit {
			margin-top: 20px;
			width: 100%;
		}
	}


/* Mobile styles */

/* Larger mobile styles (wider than 320 pixels) */
@media only screen and (min-width: 321px) {

#navagation a:first-child {
	display: none;
}

}

/* Tablet styles (wider than 600 pixels) */
@media only screen and (min-width:600px) {
}

/* Large laptop styles (wider than 1024 pixels) */
@media only screen and (min-width: 1024px) {

/* Backgrounds */
.home {
	background: url('/images/background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
}
.about {
  background: url('/images/about-background.png');
  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
}
.contact {
  background: url('/images/contact-background.png');
  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
}
.blog {
  background: url('/images/blog-background.png');
  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
}
  /* Universal */
  
	/* header */
	
	#logo {
		width: 140px;
		height: 140px;
		margin: 25px 0 25px 15%;
		a {
			width: 140px;
			height: 140px;
			display: block;
		}
	}
	
	
	header#header {

		#navagation {
			float: right;
			margin: 75px 200px 75px 0px; 
			padding: 0px 0px 10px 300px;
			color: white;
			
			a:first-child {
			  display: inline;
			}
			a {
				padding: 0px 5px 5px 5px;
			  font-size: 2em;
			}
		}
	}
	
	header#admin {
		margin-left: 200px;
		margin-right: 200px;
		
		nav {
			margin-left: auto;
			margin-right: auto;
			width: 300px;
			
			a {
				padding: 0 5px 0 5px;
			}
		}
	}
	
	/* Flash Messages */
	
	.notice {
		text-align: center;
	}
	/* Title */
	
	.introduction {
		margin: 5px 200px 100px 200px;
		
		.description {
			margin: 0px 100px 20px 100px;
			font-size: 2em;
			
			p {
				text-align: center;
			}
		}
	}
	
	/* Content */
	
	.content {
		margin: 50px 15% 5px 15%;
	}
	
	
	.about-pic {
		width: 94%;
		height: 275px;
		border-radius: 999px;
		margin-left: 3%;
		margin-right: 3%;
	}
	
	#about-left {
		float:left;
		display: inline-block;
		width: 31%;
	
		h2 {
			text-align: center;
		}
			
		.about-pic {
				background: url('/images/pigeon-jeremy.jpg');
				
		}
	}
		
	#about-center {
		width: 31%;
		clear: left;
		margin-left: 3.25%;
		margin-right: 3.25%;
		display: inline-block;
		
		 h2 {
			text-align: center;
		}
			
		.about-pic {
			background-image: url('/images/developer.png');
		}
	}
	
	#about-right {
		float: right;
		width: 31%;
		display: inline-block;
		
		h2 {
			text-align: center;
		}
		
		.about-pic {
			background-image: url('/images/designer.jpg');
		}
	}	

	
	#contact {			
		margin-left: 37%;
		margin-right: 37%;
	}
	
	footer { 

		margin-top: 40px;
	  opacity: .8;
		height: 30px;
		font-size: 1.25em;
		
		div {
				
			margin-right: 75px;
			margin-left: 75px;
			width: 180px;
			p {
				margin: 0 0 10px 0;
				
				a {
				  color: white;
				}
			}
			:first-child {
				margin: 0 ;	
			}
		}
		
		#footer-left {
			float: left;
		}
		
		#footer-right {
			float: right;
			text-align: right;
		}
	}
	.about footer #footer-left, .contact footer #footer-left {
	  color: #141414;
	  text-shadow: 1px 1px 1px #C5C5C5;
	}
	
	#new-blog {
		.text-field {
			margin: 0 600px 0 0;
		}
		
		input {
			width: 400px;
			font-family: Segoe UI;
			font-size: 18px;
		}
		
		textarea {
			width: 100%;
			height: 17em;
			font-family: Segoe UI;
			font-size: 18px;
			resize: vertical;
		}
		
		.submit {
			margin-top: 20px;
			width: 100%;
		}
	}
}

/* Desktop styles (wider than 1140 pixels */
@media only screen and (min-width: 1140px) {
}