@font-face {
  font-family: 'Quicksand';
  src: asset_url('quicksand-regular-webfont.eot');
  src: asset_url('quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
       asset_url('quicksand-regular-webfont.woff') format('woff'),
       asset_url('quicksand-regular-webfont.ttf') format('truetype'),
       asset_url('quicksand-regular-webfont.svg#quicksandregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Amatic';
    src: font-url('/assets/amaticsc-regular-webfont.eot');
    src: font-url('/assets/amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('/assets/amaticsc-regular-webfont.woff') format('woff'),
         font-url('/assets/amaticsc-regular-webfont.ttf') format('truetype'),
         font-url('/assets/amaticsc-regular-webfont.svg#amatic_scregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Great Vibes';
    src: font-url('/assets/greatvibes-regular-webfont.eot');
    src: font-url('/assets/greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('/assets/greatvibes-regular-webfont.woff') format('woff'),
         font-url('/assets/greatvibes-regular-webfont.ttf') format('truetype'),
         font-url('/assets/greatvibes-regular-webfont.svg#great_vibesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}